body {
    height: 120vh;
    overflow: auto;
    background-color: gray;
}

.container-fluid {
    position: absolute;
    text-align: center;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.status {
    position: absolute;
    text-align: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.list-status-message {

    position: absolute;
    text-align: center;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 700px) {


    .list-status-message {

        text-align: center;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .profile {

        font-size: 20px;
    }

}

@media screen and (max-width: 400px) {


    .list-status-message {

        text-align: center;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .profile {

        font-size: 15px;
    }

}

h3 {

    text-align: center;
    color:white;
    background-color: #1abc9c;
}

h1 {
    font-family: 'Courier New';
}

h2 {

    text-align: center;
    color: white;

}

#img-responsive {
    max-width: 80%;
    height: auto;
    display: block;
    text-align: center;
    margin: 0 auto;
}

p {

    font-family: 'Courier New';
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color:black;
}

.no-js #loader { 
    display: none;  
}
.js #loader { 
    display: block; position: absolute; left: 100px; top: 0; 
}
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../media/css-loader.gif) center no-repeat #fff;
}

.favLoc{
    margin-left: 5%;
    margin-bottom: 2%
}

.buttonLoveClicked{
    animation:blinkingText 0.8s infinite;
    background-color: blue;
}
@keyframes blinkingText{
    0%{     color: orange;    }
    49%{    color: transparent; }
    50%{    color: transparent; }
    99%{    color: orange;  }
    100%{   color: orange;    }
}

* {
    box-sizing: border-box;
}

form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.example button:hover {
    background: #0b7dda;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}
