{% include 'navbar/reusable-pages.html' %}

{% load static %}

{%block link%}
<head>
	<meta charset="utf-8">
	<meta name="description" content="Story 6">
	<meta name="author" content="Mutia Rahmatun Husna">

	<title>Hai!!</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

	<link rel="stylesheet" href="{% static 'css/web-style.css' %}">
	<script src="{% static 'js/script.js' %}"></script>
</head>

{% endblock%}
{% block content %}

<div class="container">

    <div class="mt-5">

        <h1 style="text-align:center">Subscribe this page !!!</h1>

    </div>


    <div class="mt-3" id="msg_response"></div> <!-- create user response -->

    <form class="form-group" method="POST" id="subcribe_form" onsubmit="return false;">
        {% csrf_token %}

        {% for field in the_form %}
        <div class="form-group">

            {{ field.label }}
            {{ field }}

        </div>
        {% endfor %}

        <div class="mt-4" id="msg_validate"></div> <!--validate response-->

        <div class="pull-right">
            <input id="subcribe_button" type="submit" value="Subscribe" class="btn btn-primary" disabled onclick=subcribe()>
        </div>

    </form>

    <div class="mt-5">
        <div class="container-fluid">
            <div class="table-responsive">
                <table class="table table-sm table-bordered table-dark" id="list_user" style="width:100%">
                    <thead class="thead-dark">
                        <tr>
                            <th>Subscriber Name</th>
                            <th>Email</th>
                            <th>Unsubscribe</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for i in user_account %}
                        <tr class="table-primary">
                            <td style="color:black">{{ i.nama }} </td>
                            <td style="color:black">{{ i.email }} </td>
                            <td style="text-align:center"><input id="unsubscribe_button" data-id="{{i.pk}}" type="submit" value="Unsubscribe" class="btn btn-danger" name="id_subscriber"></td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>

        </div>
    
    </div>

</div>

{% endblock %}
