{% include 'navbar/reusable-pages.html' %}

{% load static %}

{% block link %}

<title>Hello!!</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<link rel="stylesheet" href="{% static 'css/web-style.css' %}">
<script src="{% static 'js/script.js' %}"></script>

{% endblock %}

<body>
    <br></br>
    <h1 class="margin text-center" id="welcome">Recommended Book!</h1>
    <br></br>
    <form class="example" style="margin:auto;max-width:300px">
	  <input type="text" placeholder="Search.." name="search2">
	  <button id="cari" type="submit"><i class="fa fa-search"></i></button>
	</form>
    <p class = "favLoc" style="color:aliceblue;"><font size="5">counter : 
            <input id ="counter" class="btn btn-default btn-circle btn-xl" type="button" value="0">
            </font></p>     

    <table class="table table-hover" id ="table_json">
        <thead>
            <tr>
                <th scope="col" id='name-book'>Title</th>
                <th scope="col" id='photo-book'>Image</th>
                <th scope="col" id='author-book'>Author</th>
                <th scope="col" id='publisher-book'>Publisher</th>
                <th scope="col" id='date-book'>Published Date</th>
                <th scope="col" id='favSign'>Favourite</th>
            </tr>
        </thead>
    </table>
</body>