{% include 'navbar/reusable-pages.html' %}

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description" content="Story 6">
	<meta name="author" content="Mutia Rahmatun Husna">

	<title>Hai!!</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

	<link rel="stylesheet" href="{% static 'css/web-style.css' %}">
	<script src="{% static 'js/script.js' %}"></script>
</head>

<body id="forms-body">
	{% block content %}
	<div class="container-fluid">
        <h1 class="hello-sign">
            <span class="text-wrapper">
                <span class="letters">
                   {{landing_page}}
                </span>
            </span>
        </h1>
    </div>
	<div id = "schedule" class="container-fluid status">
		<form id="status-message" method="POST" class="form-horizontal" action="{% url 'status' %}">
			{% csrf_token %}
			<div class="form-group">
				{{ form }}
			</div>
			<div class="form-group">
				<div>
					<button id="add" type="submit" class="save btn btn-default">Add</button>
				</div>
			</div>
		</form>
	</div>
	
	<table class="table table-hover table-bordered table-striped table-red" align="center" style="text-align: center">
	    <thead>
	        <tr>
	            <th scope="col">Status</th>
	            <th scope="col">Time</th>
	        </tr>
	    </thead>
	    {% for stat in status_list %}
	        <tr>
	            <td scope="row">{{ stat.status }}</td> <br>
	            <td scope="row">
	                {{ stat.waktu }}
	            </td>
	        </tr>
	    {% endfor %}
	</table>
	{% endblock %}
</body>
</html>