{% include 'navbar/reusable-pages.html' %}

{% load static %}

{% block link %}

<title>Hello!!</title>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="{% static 'css/web-style.css' %}" id="theme">
<script src="{% static 'js/script.js' %}"></script>

{% endblock %}

<body style="background-color: white">

	{% block content %}

	&nbsp;
	<h2>My Profile</h2>
	
	<div id="accordion">
		<h3>About</h3>
		<div>
			<img id="img-responsive" src="{% static 'media/mutia.JPG' %}" alt="Mutia" class="center" width="300" height="300"><br>
			<p id="short-intro">
				Nama : Mutia Rahmatun Husna<br>
				Birth Place : Medan<br>
				Date of Birth : 19 July 2000<br>
				Hobby : Reading a book
			</p>
		</div>

		<h3>Pendidikan</h3>
		<div>
			<img id="img-responsive" src="{% static 'media/fasilkom.png' %}" alt="fasilkom" class="center" width="300" height="300"><br>
			<p>
				Mahasiswa Ilmu Komputer Universitas Indonesia 2017
			</p>
		</div>

		<h3>Pengalaman</h3>
		<div>

			<img id="img-responsive" src="{% static 'media/betis.jpg' %}" alt="betis" class="center" width="300" height="300"><br>
			<p>
				BETIS Fasilkom UI 2018<br>
				Staf Divisi Akademis<br>
				Januari 2018 - April 2018
			</p>

			<img id="img-responsive" src="{% static 'media/pemira.jpg' %}" alt="pemira" class="center" width="300" height="300"><br>
			<p>
				Pemira Fasilkom UI 2017<br>
				Staf Pemungutan Suara<br>
				September 2017 - Desember 2017
			</p>

			<img id="img-responsive" src="{% static 'media/wisgan.jpg' %}" alt="wisgan" class="center" width="300" height="300"><br>
			<p>
				Wisuda Ganjil Fasilkom UI 2018<br>
				Staf Humas<br>
				Januari 2018 - Februari 2018
			</p>

			<img id="img-responsive" src="{% static 'media/siwak.png' %}" alt="siwak" class="center" width="300" height="300"><br>
			<p>
				SIWAK-NG 2018<br>
				Vice Project Officer<br>
				April 2018 - November 2018
			</p>
		</div>

		<h3>Organisasi</h3>
		<div>
			<img id="img-responsive" src="{% static 'media/bem.png' %}" alt="bem" class="center" width="300" height="300"><br>
			<p>
				BEM Fasilkom UI 2018<br>
				Staf Departemen Akademis dan Kepemimpinan<br>
				Februari 2018 - Sekarang
			</p>

			<img id="img-responsive" src="{% static 'media/fuki.png' %}" alt="fuki" class="center" width="300" height="300"><br>
			<p>
				FUKI Fasilkom UI 2018<br>
				Wakil Kepala Biro Humas<br>
				Februari 2018 - Sekarang
			</p>
		</div>

		<h3>JSON</h3>
		<div>
			
		</div>

	</div>

	{% endblock %}
</body>